*{
    padding: 0;
    margin: 0;
    letter-spacing: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(30deg, #ffebef, #ffebdf, #ccffff);
    background-size: 200% 200%;
    animation: bg-gradient 10s ease-in-out infinite;
}

a{
    color:black !important;
    text-decoration: none;
    font-weight: 350;
    font-size: 16px;
    cursor: pointer;
}

h1{
    font-weight: 350;
    font-size: 30px;
}

h2{
    font-weight: 350;
    font-size: 20px;
}


p{
    font-weight: 350;
    font-size: 16px;
}

.container{
    width: 70vw;
    padding: 20px 40px;
    margin-left: auto;
    margin-right: auto;
}
.whap{
    border-bottom: #ccc 1px solid;
}
.space-between{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.center-center{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.v-center{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.space-evenly{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.items-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1{
    padding-bottom: 30px;
}
.header {
    position: fixed;
    top: 0;
    margin-left: auto;
    margin-bottom: auto;
    width: 100vw;
    z-index: 9999;
    transition: background-color 0.3s ease-in-out;
}
.scrolled {
    background-color: white;
}

header .content{
    width: 70vw;
    padding: 20px;
}

header .nav-menu ul li{
    display: inline;
    list-style: none;
    padding-left: 20px;
}

.header .nav-menu img{
    width: 30px;
}

header .logo img{
    width: 220px;
    height: fit-content;
}

#home .content{
    width: 60vw;
    margin-top: 15vh;
    display: flex;
}

#home .content .inner-content img{
    width: 200px;
    height: fit-content;
}

#home .space-evenly{
    padding: 35px;
    background-color: white;
}

#home .social-media{
    background-color: #ccffff;
    width: calc(60vw - 200px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}

#home .content .social-media ul li{
    display: inline-flex;
    list-style: none;
    padding: 8px 15px;
}

#home .content .social-media img{
    width: 30px;
}

#home .space-evenly img{ 
    width: 30px;
    margin-bottom: -10px;
}

#about .content{
    width: 60vw;
    text-align: center;
}

#pages .space-between{
    width: 100%;
}


footer .logo img{
    width: 100px;
    height: fit-content;
}

footer .content img{
    width: 40px;
}

footer .content{
    width: 300px;
}

.btn-outline {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px 15px 8px 15px;
    border-radius: 40px;
    border: 1px black solid;
    font-size: 18px;
    background-color: transparent;
}

.btn-outline:hover{
    border: 1px black solid;
    font-weight: bold;
    color: white;
    background-color: black;
}

/* Estilos para telas grandes */
@media (min-width: 768px) {
    .header{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .container {
      width: 70vw;
      padding: 20px 40px;
    }
    
    #home .content .inner-content img{
        width: 200px;
        height: fit-content;
    }

    #home .content {
      width: 60vw;
      margin-top: 15vh;
    }
  
    #home .space-evenly {
      padding: 35px;
    }
  
    #home .social-media {
      width: calc(60vw - 200px);
    }
  
    #about .content {
      width: 60vw;
      text-align: center;
    }
  
    #pages .space-between {
      width: 100%;
    }
  
    footer .content {
      width: 300px;
    }
  }
  
/* Estilos para telas médias */
@media (max-width: 767px) {
    .header {
      width: 100vw;
      display: flex;
      flex-direction: column;
    }
  
    header .content {
      width: 90vw;
    }
  
    #home .content .inner-content img {
      max-width: 250px;
      height: auto;
    }
  
    .logo {
      width: 70vw;
      margin-right: 40px;
    }
  
    .logo img {
      max-width: 150px;
      height: auto;
    }
  
    .container {
      width: 90vw;
      padding: 20px;
    }
  
    #home .content {
      width: 80vw;
      margin-top: 15vh;
      display: flex;
      margin-left: -10px;
      flex-direction: column;
      background: white;
    }
  
    #home .space-evenly {
      padding: 25px;
    }
  
    #home .social-media {
      width: 80vw;
      display: flex;
    }
  
    #about .content {
      width: 70vw;
      text-align: center;
    }
  
    #pages .space-between {
      width: 100%;
    }
  
    footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    footer .content {
      margin: 30px 0;
    }
  }
  